# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
game
obj

# Visual studio stuff
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64
Debug
.vscode

SFML-2.5.1

openal32.dll
sfml-graphics-d-2.lib
sfml-window-d-2.lib
sfml-audio-d-2.lib
sfml-network-d-2.lib
sfml-system-d-2.lib