# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj
king

# VS stuff
.vscode
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug

# SFML stuff
SFML-2.5.1
openal32.dll
sfml-graphics-d-2.lib
sfml-window-d-2.lib
sfml-audio-d-2.lib
sfml-network-d-2.lib
sfml-system-d-2.lib